<p>Adds an import function that runs <a href="https://github.com/barricklab/breseq"><i>breseq</i></a> on
    input FASTQ read files to populate a sample with mutations and an aligned BAM file. HTML files produced
    by <i>breseq</i> that show evidence for mutation predictions are also stored so they can be viewed.</p>

<p><b>Citation:</b> Deatherage, D.E., Barrick, J.E. (2014) Identification of mutations in
    laboratory-evolved microbes from next-generation sequencing data using <i>breseq</i>.
    <i>Methods Mol. Biol.</i> <b>1151</b>:165-188.
    <a href="https://doi.org/10.1007/978-1-4939-0554-6_12">https://doi.org/10.1007/978-1-4939-0554-6_12</a></p>
